#menu_item .VirtualizedSelectOption {
  background-color: black;
  color: white
}

#menu_item .VirtualizedSelectFocusedOption {
  background-color: rgb(51,52,50);
  color: white;
}

#menu_item .Select-value-label {
    color: white;
}

#menu_item .Select-input {
    color: white;
}

#menu_item .Select-multi-value-wrapper {
    color: white;
}

#menu_item input {
    color: white
}